*{
    padding: 0;
    margin: 0;
}
nav{
   display: flex;
    background-color: purple;
    align-items: center;
    justify-content: center;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;    
}

.biography{
    
}

.projects{
    
}

.interview{
    
}

.contact{
    
}

.social{
    
}

.opleidingen{
    
}

.video{
    
}